Design and document a sequence of operations to convert a pair of source files into an output file that can be used in subsequent analysis

Implement your design

Test your pipeline with an appropriate test deck and document your test process and results

You have been provided with two zipped files in the folder PartA Data

The first contains data about the time of sunrise, sunset and the length of the day in Edinburgh. The second contains weather data from a weather station in Scotland.

Your brief is to estimate the temperature every minute for the year 2012. This will be used in a further analysis of operational data of electronic equipment in the vicinity. You may use any combination of the technologies you have been introduced to together with any tools that you are already familiar with.

This lab does not give you any detailed information.

In [1]:
import pandas as pd
import numpy as np

In [2]:
EXCEPTIONS = [
    "", " ", "-", "--", "NaN", "NULL", "None",
    "↑", "↓"
]

In [3]:
# Use the first *two* rows as a multi-level header
df = pd.read_excel("data/Edinburgh-daytime.xlsx", header=[0, 1])

# Flatten the MultiIndex columns into simple strings
df.columns = [
    f"{top} {sub}".strip()
    for top, sub in df.columns
]

In [4]:
time_columns = [
    "Sunrise", "Sunset", "Length", "Start", "End", "Time"
]

for col in time_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="ignore").dt.time

In [5]:
df = df.replace(r"[↑↓()°]", "", regex=True)

In [6]:
df["Solar Noon Mil. km"] = pd.to_numeric(df["Solar Noon Mil. km"], errors="coerce")

In [7]:
df = df.replace(EXCEPTIONS, np.nan)

In [8]:
df_clean = df.dropna(subset=[
    "Sunrise/Sunset Sunrise",
    "Sunrise/Sunset Sunset",
    "Daylength Length"
])

In [9]:
import datetime as dt

def parse_time(value):
    """
    Safely parse 'HH:MM' or 'HH:MM:SS' and ignore everything else.
    Returns a datetime.time or NaN.
    """
    if not isinstance(value, str):
        return np.nan

    # Extract hh:mm or hh:mm:ss from the string
    import re
    match = re.search(r"\b\d{1,2}:\d{2}(?::\d{2})?\b", value)
    if not match:
        return np.nan

    time_str = match.group(0)

    # Try HH:MM:SS
    try:
        return dt.datetime.strptime(time_str, "%H:%M:%S").time()
    except ValueError:
        pass

    # Try HH:MM
    try:
        return dt.datetime.strptime(time_str, "%H:%M").time()
    except ValueError:
        return np.nan

In [10]:
df_clean = df.copy()

time_cols = [
    "Sunrise/Sunset Sunrise",
    "Sunrise/Sunset Sunset",
    "Astronomical Twilight Start",
    "Astronomical Twilight End",
    "Nautical Twilight Start",
    "Nautical Twilight End",
    "Civil Twilight Start",
    "Civil Twilight End",
    "Solar Noon Time"
]

for col in time_cols:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].apply(parse_time)

In [11]:
#print(df.columns.tolist())
print(df.head(10))
#print(df.describe(include='all'))

   2011 Dec Sunrise/Sunset Sunrise Sunrise/Sunset Sunset Daylength Length  \
0       NaN                    NaN                   NaN              NaN
1       1.0             08:18  130            15:44  230         07:25:45
2       2.0             08:20  130            15:43  230         07:23:13
3       3.0             08:21  130            15:42  229         07:20:48
4       4.0             08:23  131            15:41  229         07:18:29
5       5.0             08:24  131            15:41  229         07:16:17
6       6.0             08:26  131            15:40  229         07:14:11
7       7.0             08:27  132            15:40  228         07:12:12
8       8.0             08:29  132            15:39  228         07:10:20
9       9.0             08:30  132            15:39  228         07:08:36

  Daylength Difference Astronomical Twilight Start Astronomical Twilight End  \
0                  NaN                         NaN                       NaN
1                −2:37                    06:00:00                  18:02:00
2                −2:31                    06:02:00                  18:01:00
3                −2:25                    06:03:00                  18:01:00
4                −2:18                    06:04:00                  18:00:00
5                −2:12                    06:05:00                  18:00:00
6                −2:05                    06:06:00                  18:00:00
7                −1:58                    06:07:00                  17:59:00
8                −1:51                    06:09:00                  17:59:00
9                −1:44                    06:10:00                  17:59:00

  Nautical Twilight Start Nautical Twilight End Civil Twilight Start  \
0                     NaN                   NaN                  NaN
1                06:45:00              17:17:00             07:33:00
2                06:46:00              17:16:00             07:34:00
3                06:48:00              17:16:00             07:36:00
4                06:49:00              17:15:00             07:37:00
5                06:50:00              17:15:00             07:39:00
6                06:52:00              17:14:00             07:40:00
7                06:53:00              17:14:00             07:41:00
8                06:54:00              17:14:00             07:42:00
9                06:55:00              17:14:00             07:44:00

  Civil Twilight End Solar Noon Time  Solar Noon Mil. km
0                NaN             NaN                 NaN
1           16:29:00      12:01 12.3             147.520
2           16:28:00      12:02 12.2             147.495
3           16:28:00      12:02 12.0             147.471
4           16:27:00      12:02 11.9             147.447
5           16:27:00      12:03 11.8             147.425
6           16:26:00      12:03 11.6             147.403
7           16:26:00      12:04 11.5             147.381
8           16:25:00      12:04 11.4             147.361
9           16:25:00      12:04 11.3             147.342